<div class="panel panel-info">
  <div class="panel-body">
    <p>
    <strong>Name:</strong>
      <%= @project.name %>
    </p>

    <p style="white-space: pre-line;">
      <strong>Comment:</strong>
      <%= @project.comment %>
    </p>

    <p>
      <strong>Deadline:</strong>
      <%= @project.deadline %>
    </p>

    <table class="table">
      <thead>
        <tr>
          <td colspan="3"></td>
        </tr>
      </thead>

      <tbody>
          <tr>
            <% if current_user.admin == true %>
              <td>

                <%= form_for @project do |f| %>
                <strong>done?  </strong><%= f.check_box :done, class: "checkable" %>
                <% end %>
              </td>            
            <td><%= link_to 'Back to Project overview', projects_path, class: "btn btn-primary btn-sm" %></td>
            <td><%= link_to 'Edit', edit_project_path(@project), class: "btn btn-warning btn-sm" %></td>
            <td><%= link_to 'Destroy', @project, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% else %>
            <td><%= link_to 'Back to Project overview', ideas_start_path, class: "btn btn-primary btn-sm" %></td>
            <% end %>

          </tr>
      </tbody>
    </table>

  </div>
</div>  
