
        <div class="item">                         
          <h3>Addieren</h3>
          <a class="menue">
            <%= image_tag ("Addieren.png") %>
            <span><%= image_tag ("Addieren.png") %></span></a>
          <p style="white-space: pre-line;">Mischen, zusammenfügen, verbinden. Aus zwei mach eins. </p>
        </div>                  
 
        <div class="item"> 
          <h3>Analogie</h3>
          <a class="menue">
            <%= image_tag ("Analogie.png") %>
            <span><%= image_tag ("Analogie.png") %></span></a>
          <p style="white-space: pre-line;">Vergleiche ziehen. Funktionsgleiche Strukturen übernehmen. Vorbilder suchen. </p>
        </div>                  
     
        <div class="item"> 
          <h3>Entgeneralisierer</h3>
          <a class="menue">
            <%= image_tag ("Entgeneralisierer.png") %>
            <span><%= image_tag ("Entgeneralisierer.png") %></span></a>
          <p style="white-space: pre-line;">Vorurteile aufheben. Gegebenes in Frage stellen. Kann man etwas, das schon immer so war, auch anders machen? </p>
        </div>                  

        <div class="item"> 
          <h3>Extrem</h3>
          <a class="menue">
            <%= image_tag ("Extrem.png") %>
            <span><%= image_tag ("Extrem.png") %></span></a>
          <p style="white-space: pre-line;"> Bestehende Merkmale ins Extreme ziehen. Mut zu extremen Ideen. Regen alle Regeln verstoßen.</p>
        </div>                  
           

        <div class="item"> 
          <h3>Fokus</h3>
          <a class="menue">
            <%= image_tag ("Fokus.png") %>
            <span><%= image_tag ("Fokus.png") %></span></a>
          <p style="white-space: pre-line;">Akzente setzen. Fokus verlagern. Exzenter. Sich auf das Wesentliche konzentrieren.</p>
        </div>                  

        <div class="item">  
          <h3>Fragment</h3>
          <a class="menue">
            <%= image_tag ("Fragment.png") %>
            <span><%= image_tag ("Fragment.png") %></span></a>
          <p style="white-space: pre-line;">Problem in Teilprobleme zerlegen, diese einzeln bearbeiten, später zusammenfügen.</p>
        </div>                  

        <div class="item"> 
          <h3>Modify</h3>
          <a class="menue">
            <%= image_tag ("Modify.png") %>
            <span><%= image_tag ("Modify.png") %></span></a>
          <p style="white-space: pre-line;"> Welche Eigenschaften kann man ändern? Wie verändert sich dadurch der Charakter, die Funktion des Objekts? Transformieren.</p>
        </div>                  

        <div class="item"> 
          <h3>Perspektive</h3>
          <a class="menue">
            <%= image_tag ("Perspektive.png") %>
            <span><%= image_tag ("Perspektive.png") %></span></a>
          <p style="white-space: pre-line;">Neue Sicht auf die Dinge. Nicht nur den eigenen Standpunkt bedenken. In andere hineinversetzen. Ungewohnte, extreme oder falsche Perspektive erzeugen. </p>
        </div>                  

        <div class="item"> 
          <h3>Prognose</h3>
          <a class="menue">
            <%= image_tag ("Prognose.png") %>
            <span><%= image_tag ("Prognose.png") %></span></a>
          <p style="white-space: pre-line;">Risiken und Chancen antizipieren. Welche Entwicklungen wird es geben? Diesen voraus sein. </p>
        </div>                  

        <div class="item"> 
          <h3>Reduce</h3>
          <a class="menue">
            <%= image_tag ("Reduce.png") %>
            <span><%= image_tag ("Reduce.png") %></span></a>
          <p style="white-space: pre-line;">Weniger ist mehr.</p>
        </div>                  

        <div class="item"> 
          <h3>Szenario</h3>
          <a class="menue">
            <%= image_tag ("Szenario.png") %>
            <span><%= image_tag ("Szenario.png") %></span></a>
          <p style="white-space: pre-line;">Objekt in einen inhaltlichen Kontext setzen. Eine Geschichte um das Objekt erfinden. Was wäre wenn … ? </p>
        </div>                  

        <div class="item"> 
          <h3>Transfer</h3>
          <a class="menue">
            <%= image_tag ("Transfer.png") %>
            <span><%= image_tag ("Transfer.png") %></span></a>
          <p style="white-space: pre-line;"> Idee auf anderen Ort, andere Situation übertragen. Innerhalb eines Mediums bleiben oder zwischen den Disziplinen wechseln. </p>
        </div>                  

        <div class="item"> 
          <h3>Variation</h3>
          <a class="menue">
            <%= image_tag ("Variation.png") %>
            <span><%= image_tag ("Variation.png") %></span></a>
          <p style="white-space: pre-line;"> Welche Optionen gibt es? Von einer Idee ausgehend verschiedene Varianten ableiten. </p>
        </div>                  

        <div class="item"> 
          <h3>Zoom</h3>
          <a class="menue">
            <%= image_tag ("Zoom.png") %>
            <span><%= image_tag ("Zoom.png") %></span></a>
          <p style="white-space: pre-line;">Ist die Idee skalierbar?. Vom Kleinen ins Große ins Kleine. Inhaltlichen Kontext ausweiten.</p>
        </div>                  
