<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-info">
    <h3>Fragen zu Kreativismen</h3>
    <div class="panel-body">
      <div class="form-group">
        <strong><p>F1: Ich denke Kreativismenkarten wirken inspirierend.</p></strong>
        <%= f.radio_button :f1, "1"  %> <%= f.label :f1, "--" %>
        <%= f.radio_button :f1, "2"  %> <%= f.label :f1, "-" %>
        <%= f.radio_button :f1, "3"  %> <%= f.label :f1, "+/-" %>
        <%= f.radio_button :f1, "4"  %> <%= f.label :f1, "+" %>
        <%= f.radio_button :f1, "5"  %> <%= f.label :f1, "++" %>
      </div> 

      <div class="form-group">
        <strong><p>F2: Die Texte auf den Kreativismen waren leicht verständlich.</p></strong>
        <%= f.radio_button :f2, "1"  %> <%= f.label :f2, "--" %>
        <%= f.radio_button :f2, "2"  %> <%= f.label :f2, "-" %>
        <%= f.radio_button :f2, "3"  %> <%= f.label :f2, "+/-" %>
        <%= f.radio_button :f2, "4"  %> <%= f.label :f2, "+" %>
        <%= f.radio_button :f2, "5"  %> <%= f.label :f2, "++" %>
      </div>

      <div class="form-group">
        <strong><p>F3: Ich entwickle schneller Ideen mithilfe von Kreativismen.</p></strong>
        <%= f.radio_button :f3, "1"  %> <%= f.label :f3, "--" %>
        <%= f.radio_button :f3, "2"  %> <%= f.label :f3, "-" %>
        <%= f.radio_button :f3, "3"  %> <%= f.label :f3, "+/-" %>
        <%= f.radio_button :f3, "4"  %> <%= f.label :f3, "+" %>
        <%= f.radio_button :f3, "5"  %> <%= f.label :f3, "++" %>
      </div>

      <div class="form-group">
        <strong><p>F4: Kreativismen halfen mir entfernte Assoziationen zu wecken.</p></strong>
        <%= f.radio_button :f4, "1"  %> <%= f.label :f4, "--" %>
        <%= f.radio_button :f4, "2"  %> <%= f.label :f4, "-" %>
        <%= f.radio_button :f4, "3"  %> <%= f.label :f4, "+/-" %>
        <%= f.radio_button :f4, "4"  %> <%= f.label :f4, "+" %>
        <%= f.radio_button :f4, "5"  %> <%= f.label :f4, "++" %>
      </div>

      <div class="form-group">
        <strong><p>F5: Ich finde meine Ideen mit Kreativismen origineller/innovativer als Ideen ohne Anwendung von Kreativismen.</p></strong>
        <%= f.radio_button :f5, "1"  %> <%= f.label :f5, "--" %>
        <%= f.radio_button :f5, "2"  %> <%= f.label :f5, "-" %>
        <%= f.radio_button :f5, "3"  %> <%= f.label :f5, "+/-" %>
        <%= f.radio_button :f5, "4"  %> <%= f.label :f5, "+" %>
        <%= f.radio_button :f5, "5"  %> <%= f.label :f5, "++" %>
      </div>

      <div class="form-group">
        <strong><p>F6: Ich würde Kreativismen als Unterstützung für Brainstorming weiter empfehlen (wie im Experiment).</p></strong>
        <%= f.radio_button :f6, "1"  %> <%= f.label :f6, "--" %>
        <%= f.radio_button :f6, "2"  %> <%= f.label :f6, "-" %>
        <%= f.radio_button :f6, "3"  %> <%= f.label :f6, "+/-" %>
        <%= f.radio_button :f6, "4"  %> <%= f.label :f6, "+" %>
        <%= f.radio_button :f6, "5"  %> <%= f.label :f6, "++" %>
      </div>
      <div class="form-group">
        <strong><p>F7: Ich würde Kreativismen eher als eigenständiges Kreativitätstool nutzen (als Spiel).</p></strong>
        <%= f.radio_button :f7, "1"  %> <%= f.label :f7, "--" %>
        <%= f.radio_button :f7, "2"  %> <%= f.label :f7, "-" %>
        <%= f.radio_button :f7, "3"  %> <%= f.label :f7, "+/-" %>
        <%= f.radio_button :f7, "4"  %> <%= f.label :f7, "+" %>
        <%= f.radio_button :f7, "5"  %> <%= f.label :f7, "++" %>
      </div>   
      <div class="form-group">
        <%= f.label "Welche Karte war am inspirendsten/ hilfreichsten?" %><br>
        <%= f.radio_button :f8, "Addieren"  %> <%= f.label :f8, "Addieren" %>
        <%= f.radio_button :f8, "Analogie"  %> <%= f.label :f8, "Analogie" %>
        <%= f.radio_button :f8, "Entgeneralisierer"  %> <%= f.label :f8, "Entgeneralisierer" %>
        <%= f.radio_button :f8, "Extrem"  %> <%= f.label :f8, "Extrem" %>
        <%= f.radio_button :f8, "Fokus"  %> <%= f.label :f8, "Fokus" %>
        <%= f.radio_button :f8, "Fragment"  %> <%= f.label :f8, "Fragment" %>
        <%= f.radio_button :f8, "Modify"  %> <%= f.label :f8, "Modify" %>
        <%= f.radio_button :f8, "Perspektive"  %> <%= f.label :f8, "Perspektive" %>
        <%= f.radio_button :f8, "Prognose"  %> <%= f.label :f8, "Prognose" %>
        <%= f.radio_button :f8, "Reduce"  %> <%= f.label :f8, "Reduce" %>
        <%= f.radio_button :f8, "Szenario"  %> <%= f.label :f8, "Szenario" %>
        <%= f.radio_button :f8, "Transfer"  %> <%= f.label :f8, "Transfer" %>
        <%= f.radio_button :f8, "Variation"  %> <%= f.label :f8, "Variation" %>
        <%= f.radio_button :f8, "Zoom"  %> <%= f.label :f8, "Zoom" %>
      </div>
    </div>
  </div>
<br>
  <div class="panel panel-info">
    <h3>Fragen zu Emotionen</h3>
    <div class="panel-body">
      <div class="form-group">
        <strong><p>F9: Ich denke in der Anwendung kann ich auch Ideen äußern, die ich bei einem klassischen Brainstorming nicht geäußert hätte. (z.B. weil sie peinlich sind oder ich mir mit der Idee unsicher bin)</p></strong>
        <%= f.radio_button :f9, "1"  %> <%= f.label :f9, "--" %>
        <%= f.radio_button :f9, "2"  %> <%= f.label :f9, "-" %>
        <%= f.radio_button :f9, "3"  %> <%= f.label :f9, "+/-" %>
        <%= f.radio_button :f9, "4"  %> <%= f.label :f9, "+" %>
        <%= f.radio_button :f9, "5"  %> <%= f.label :f9, "++" %>
      </div>

      <div class="form-group">
        <strong><p>F10: Ich mache mir Gedanken, welchen Eindruck ich bei anderen Teilnehmern hinterlasse.</p></strong>
        <%= f.radio_button :f10, "1"  %> <%= f.label :f10, "--" %>
        <%= f.radio_button :f10, "2"  %> <%= f.label :f10, "-" %>
        <%= f.radio_button :f10, "3"  %> <%= f.label :f10, "+/-" %>
        <%= f.radio_button :f10, "4"  %> <%= f.label :f10, "+" %>
        <%= f.radio_button :f10, "5"  %> <%= f.label :f10, "++" %>
      </div>

      <div class="form-group">
        <strong><p>F11: Anonymität hilft mir auch ausgefallene Ideen unbesorgt zu äußern.</p></strong>
        <%= f.radio_button :f11, "1"  %> <%= f.label :f11, "--" %>
        <%= f.radio_button :f11, "2"  %> <%= f.label :f11, "-" %>
        <%= f.radio_button :f11, "3"  %> <%= f.label :f11, "+/-" %>
        <%= f.radio_button :f11, "4"  %> <%= f.label :f11, "+" %>
        <%= f.radio_button :f11, "5"  %> <%= f.label :f11, "++" %>
      </div>      

      <div class="form-group">
        <strong><p>F12: Ich fühlte mich während der gesamten Brainstorming session wohl.<br>
        <%= f.radio_button :f12, "1"  %> <%= f.label :f12, "--" %>
        <%= f.radio_button :f12, "2"  %> <%= f.label :f12, "-" %>
        <%= f.radio_button :f12, "3"  %> <%= f.label :f12, "+/-" %>
        <%= f.radio_button :f12, "4"  %> <%= f.label :f12, "+" %>
        <%= f.radio_button :f12, "5"  %> <%= f.label :f12, "++" %>
      </div>

      <div class="form-group">
        <strong><p>F13: Ich fühle mich wohler, wenn die Ideen aller Teilnehmer sichtbar sind.<br>
        <%= f.radio_button :f13, "1"  %> <%= f.label :f13, "--" %>
        <%= f.radio_button :f13, "2"  %> <%= f.label :f13, "-" %>
        <%= f.radio_button :f13, "3"  %> <%= f.label :f13, "+/-" %>
        <%= f.radio_button :f13, "4"  %> <%= f.label :f13, "+" %>
        <%= f.radio_button :f13, "5"  %> <%= f.label :f13, "++" %>
      </div>

      <div class="form-group">
        <strong><p>F14: Bei welchem geöfnetten Tab warst du kreativer/ hast mehr Ideen generiert? (nur eigene Ideen angezeigt, oder alle Ideen angezeigt)</p></strong>
        <%= f.radio_button :f14, "1"  %> <%= f.label :f14, "my Ideas" %>
        <%= f.radio_button :f14, "2"  %> <%= f.label :f14, "all Ideas" %>
      </div>

      <div class="form-group">
        <strong><p>F15: Warum warst du deiner Meinung nach erfolgreicher mit diesem Tab?:</p></strong>
        <%= f.text_area :f15, class: "form-control" %>
      </div>
    </div>
  </div>
<br>
  <div class="panel panel-info">
    <h3>Fragen zur Webanwendung</h3>
    <div class="panel-body">
      <div class="form-group">
        <strong><p>F16: Die Web-App war aus meiner Sicht benutzerfreundlich (übersichtlich, leicht zu bedienen, effektiv, effizient) gestaltet</p></strong>
        <%= f.radio_button :f16, "1"  %> <%= f.label :f16, "--" %>
        <%= f.radio_button :f16, "2"  %> <%= f.label :f16, "-" %>
        <%= f.radio_button :f16, "3"  %> <%= f.label :f16, "+/-" %>
        <%= f.radio_button :f16, "4"  %> <%= f.label :f16, "+" %>
        <%= f.radio_button :f16, "5"  %> <%= f.label :f16, "++" %>
      </div>

      <div class="form-group">
        <strong><p>F17: Der Funktionsumfang erfüllt für mich den Zweck von Brainstorming (war wie erwartet).</p></strong>
        <%= f.radio_button :f17, "1"  %> <%= f.label :f17, "--" %>
        <%= f.radio_button :f17, "2"  %> <%= f.label :f17, "-" %>
        <%= f.radio_button :f17, "3"  %> <%= f.label :f17, "+/-" %>
        <%= f.radio_button :f17, "4"  %> <%= f.label :f17, "+" %>
        <%= f.radio_button :f17, "5"  %> <%= f.label :f17, "++" %>
      </div>
    </div>
  </div>
<br>
  <div class="panel panel-info">
    <h3>Allgemein</h3>
    <div class="panel-body">
      <div class="field">
        <strong><p>F18: Bemerkungen/Anregungen (Ich hätte mir noch diese Funktionen gewünscht/Das hätte ich anders gemacht/ Das fand ich gut...):</p></strong>
        <%= f.text_area :f18, class: "form-control" %>
      </div>
    </div>
  </div>  

  <%= f.hidden_field :user_id, { :value => current_user.id} %> 

  <div class="actions">
    <%= f.submit "Save Answers", class: "btn btn-primary" %>  
  </div>
<% end %>
